---
layout: base
title: David Denton
---
<style>
    html, body{
        margin: 0;
        padding: 0;

        min-width: 100%;
        width: 100%;
        max-width: 100%;

        min-height: 100%;
        height: 100%;
        max-height: 100%;

        background-color: {{ site.navbar-col }};
    }

    div.hero-div {
        padding: 100px;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h1,h2,h3,h4,h5,h6 {
        line-height: 1.6;
        color: #ffffff;
    }

    img.logo {
        width: 20%;
    }

    img.dim-link {
        width: 75px;
        padding-bottom: 30px;
    }

    .spaced {
        padding: 0 15px 0 15px;
    }

    a {
        color: #ffffff;
    }

    a:hover {
        color: #ffffff;
        text-decoration: none;
    }

    footer {
        margin: 0 0 0 0;
        color: inherit;
    }
</style>
<div class="hero-div text-center">
    <img class="logo" src="/assets/img/logo_white.png" alt="logo"/>
    <h1>David Denton</h1>
    <h2>Engineering Lead<span class="spaced">//</span>Kotlin GDE<span class="spaced">//</span>Open Source</h2>
    <h2>
        <a class="dim-link spaced" href="/writing">Writing</a>
        |
        <a class="dim-link spaced" href="/consulting">Consulting</a>
        |
        <a class="dim-link spaced" href="/training">Training</a>
        |
        <a class="dim-link spaced" href="/speaking">Speaking</a>
    </h2>
    <br/>
        {%- for link in site.social-network-links -%}
            <span class="spaced">
                <a href="{{ link[1] | relative_url }}"><img class="dim-link" src="/assets/img/{{ link[0] }}_icon.png" alt="{{ link[0] }}"/></a>
            </span>
        {%- endfor -%}
</div>
